<%-include('./header.ejs')%>

<div class="container">
	<br />
	<form action="/post" method="post">
		<textarea rows="5" cols="66" name="post" placeholder="请输入微博"></textarea><br />
		<button type="submit" class="btn btn-primary">发表</button>
	</form>
	
	<h3><%= username%>的主页</h3>
	
	<% items.forEach(function(item) { %>
		<div>
			<small><%=item.time%></small><br />
			<p class="post"><%=item.post%></p>
		</div>
	<%})%>

</div>

<%-include('./footer.ejs')%>